
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

h2{
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

button{
    border: 2px solid #2F5D50;
    width: 179px;
    height: 36px;
    background-color: #2F5D50;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 60px;
    cursor: pointer;
}