/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

img {
    width: 20px;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

 .modifier i {
    margin-right: 9px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/**CSS des bouttons filtres**/
.category-menu {
	display: flex;
	gap: 15px;
	margin-bottom: 20px;
	justify-content: center;
	align-items: center;
}

.category-menu button {
	padding: 10px 18px;
	border: 2px solid #2F5D50;
	background-color: transparent;
	color: #2F5D50;
	font-size: 16px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
}


.category-menu button:hover {
	background-color: #2F5D50;
	color: white;
}

.category-menu button.active {
	background-color: #2F5D50;
	color: white;
}

/*====================== */

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#logout {
	text-decoration: none;
	color: black;
}

#logout:hover {
	color: #B1663C;
}

.modifier {
	position: absolute;
    top: 64%;
    right: 26%;
	cursor: pointer;
}
 /* gestion de l'édition */
.edition {
	background-color: black;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 59px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.header-edition {
	margin-top: 100px;

}

.edition i,
.color
 {
color: white;
font-size: 16px;
font-weight: 400;
}

/* CSS du modale */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
	z-index: 999;
  }
  
  .modal-content {
	background: white;
	padding: 2rem;
	border-radius: 10px;
	max-width: 600px;
	width: 90%;
	position: relative;
	text-align: center;
  }
  
  .modal-content h3 {
	margin-bottom: 20px;
	font-size: 24px;
  }
  
  .modal-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, 80px);
	gap: 15px;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .modal-gallery img {
	width: 80px;
	height: 100px;
	object-fit: cover;
	border-radius: 4px;
	position: relative;
  }
  
  .modal-gallery .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 14px;
	background-color: black;
	color: white;
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
  }
  
  .ajouter-photo-btn {
	background-color: #1D6154;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
  }
  
  .close {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 24px;
	cursor: pointer;
  }

  /* modale téléverser photos */

  .modale-ajout-photo {
  background-color: white;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.modale-ajout-photo h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.fermer-modale {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
  top: 20px;
  color: #333;
}

.retour-modale {
  left: 20px;
}

.fermer-modale {
  right: 20px;
}

.zone-televersement {
  background-color: #e8f1f7;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

.label-televersement {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icone-image-upload {
  font-size: 60px;
  color: #b9c5cc;
  margin-bottom: 10px;
}

.label-televersement p {
  background-color: #cbd6dc;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  margin: 0;
}

.info-fichier {
  font-size: 12px;
  color: #666;
  margin-top: 8px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0px 4px 14px 0px #00000017;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.bouton-valider-ajout {
  background-color: #a7a7a7;
  color: white;
  padding: 8px 100px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor:not-allowed;
  margin-left: 25%;
}
  
#apercu-image {
height: 50%;
width: 50%;
object-fit: contain;
display: none;
}

.retour-modale {
	width: 100%;

}
